/* choose: https://fonts.google.com/ */


* {
    /* personal preference */
    margin: 0;
    padding: 0;
}
html {
    /* make sure we use up the whole viewport */
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    /* for debugging, a red background lets us see any seams */
}

body {

	background-color: #fff;

	width: 100%;
    min-height: 100vh;

}


header {
display:flex;
justify-content: space-between;
align-items: center;
padding: 15px 6%;
background-color: #fff;
}

#logo{
margin-right: auto;
height: 100%;
width: 100%;
}

#logo_footer {
	
	width: 60%;

}

#top_nav {
	background-color: white;
	padding-left: 50px;

}

.service_nav {
	padding: 20px;
}

.column {
  float: left;
}

.column1 {
	flex: 10%;
}

.column9 {
	flex: 90%;
}

.column3 {
	flex: 30%;
}

.column4 {
	flex: 40%;
}

.row {
  display: flex;
  justify-content: center;
}

.stretch {
	justify-content: stretch;
}

.button_services {
	width: 300px;
	height: 100px;
	margin-right: 50px;
	border: solid 2px #4b93bb;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.text_service {
	font-size: 1.4em;
	margin-left: 10px;
	line-height:50px;"
}

.no-underline {
	text-decoration: none;
}


.thumbnails {
	width: 50px;
	height: 50px;
	display: inline-block;

}

.thumbnails hover {
	border-radius: 20px;
	
}

#div_footer {
	background-color: lightgrey;
	width: 100%;
	height: 300px;
	padding: 50px 20px 20px 20px;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
}

/* Tickets, Info, Attractions inside li */
.nav_links li a {
color: rgb(0, 0, 0);
transition: all 0.3s ease 0s;
text-decoration: none;
}

/* Change the link color on hover */
.nav_links li a:hover {
color: rgb(164, 183, 234);
}
.nav_links_section_01 {
justify-content: space-between;
}  
.nav_links_section_01 ul{
justify-content: space-between;
}    
.nav_links_section_01 li{
display: inline-block;    
padding: 0px 20px;
}    
.nav_links_section_01 li a {
color: rgb(0, 0, 0);
transition: all 0.3s ease 0s;
text-decoration: none;
}

/* Change the link color on hover */
.nav_links_section_01 li a:hover {
color: rgb(164, 183, 234);
}


