/* choose: https://fonts.google.com/ */


* {
    /* personal preference */
    margin: 0;
    padding: 0;
}
html {
    /* make sure we use up the whole viewport */
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    /* for debugging, a red background lets us see any seams */
}

body {

	background-color: #fff;

	width: 100%;
    min-height: 100vh;

}


header {
display:flex;
justify-content: space-between;
align-items: center;
padding: 15px 6%;
background-color: #fff;
}

#logo{
margin-right: auto;
height: 100%;
width: 100%;
}

#logo_footer {
	
	width: 60%;

}

#top_nav {
	background-color: white;
	padding-left: 50px;

}

.service_nav {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column_interests {
	flex: 1 0 18%;
	line-height: 1.6;
}

.column {
  float: left;
}

.column1 {
	flex: 10%;
	justify-content: center;
	display: flex;
}

.column8 {
	flex: 80%;
}

.column9 {
	flex: 90%;
}

.column3 {
	flex: 30%;
}

.column4 {
	flex: 40%;
}

.column6 {
	flex: 60%;
	justify-content: stretch;
	display: flex;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stretch {
	justify-content: stretch;
}

.button_services {
	width: 300px;
	height: 100px;
	margin-right: 50px;
	border: solid 2px #4b93bb;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.text_service {
	font-size: 1.4em;
	margin-left: 10px;
	line-height:50px;"
}

.no-underline {
	text-decoration: none;
}


.thumbnails {
	width: 50px;
	height: 50px;
	display: inline-block;

}

.thumbnails hover {
	border-radius: 20px;
	
}

#div_footer {
	background-color: lightgrey;
	width: 100%;
	height: 300px;
	padding: 50px 20px 20px 20px;
	margin-top: 0px;
}

#interests {
	display: flex;
	background-color: beige;
	justify-content: stretch;
	align-items: center;
	width: 100%;
	padding: 20px;
	height: 150px;
}

#tickets1 {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 100%;
	height: auto;
}

#tickets2 {
	display: flex;
	background-color: beige;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	height: auto;
}

#total {
	background-color: #4b93bb;
	height: 60px;
	padding: 20px;
}

#added_tickets {
	background-color: #c4e6f9;
	height: 60px;
	padding: 20px;
}

#filter_links {
	height: 100px;
	background-color: lightgrey;
	justify-content: left;
	align-items: center;
	display: flex;
	padding: 20px;
}

.button_tickets {

	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_total {
		width: 150px;
	height: 50px;
}

.button_filter {

	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	margin-right: 40px;
}

.button_added {
		width: 250px;
	height: 50px;
	margin-right: 30px;
}


.unit_tickets {

	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 750px;
	height: 250px;
	margin-bottom: 50px;

}

.unit_attraction {

	border: 3px solid #4b93bb;
	border-radius: 10px;
	background-color: #4b93bb;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 750px;
	height: 250px;
	margin-bottom: 50px;
	padding: 20px;

}

#attractions {
	background-color: beige;
	padding: 50px;
}

.unit_attr_image {
	width: 200px;
	height: 200px;
	margin-right: 40px;
}

.no_padding {
	padding: 0;
}

.interest_text {
	font-size: 1em;

}

#map_section {
background-color: #4b93bb;
padding: 50px;

}

#map {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
}
.nav_links li {
display: inline-block;
padding: 0px 20px;
}

/* Tickets, Info, Attractions inside li */
.nav_links li a {
color: rgb(0, 0, 0);
transition: all 0.3s ease 0s;
text-decoration: none;
}

/* Change the link color on hover */
.nav_links li a:hover {
color: rgb(164, 183, 234);
}
.nav_links_section_01 {
justify-content: space-between;
}  
.nav_links_section_01 ul{
justify-content: space-between;
}    
.nav_links_section_01 li{
display: inline-block;    
padding: 0px 20px;
}    
.nav_links_section_01 li a {
color: rgb(0, 0, 0);
transition: all 0.3s ease 0s;
text-decoration: none;
}

/* Change the link color on hover */
.nav_links_section_01 li a:hover {
color: rgb(164, 183, 234);
}


